<div id="devise-sessions-new-view">
  <devise-sessions-new-view :errors="<%= resource.errors.full_messages %>">
  </devise-sessions-new-view>
</div>

<%= javascript_pack_tag 'devise/sessions/new'%>
<%= stylesheet_pack_tag 'devise/sessions/new'%>
